button{
    text-transform: uppercase;
}















/* media queries */

@media only screen and (max-width: 512px){
   .nav-btn-grp > button,.nav-btn-grp > a{
    display: none;
   }

   #menu-btn{
    display: block;
   }

   #home > div{
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
   }

   #about > div>div{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
   }

   #projects .project-card{
    flex-direction: column;
   }

   #projects .project-card img{
    width: 100%;
   }

}